@model CamCorder.Business.Models.PerformerDTO
@{
    ViewData["Title"] = "Create Performer";
}

<h1>Create Performer</h1>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Url" class="form-label"></label>
        <input asp-for="Url" class="form-control" />
        <span asp-validation-for="Url" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" class="btn btn-link">Back to list</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
